 body {
 	background-color: #B0E0E6;
 }

 .row {
  background-color: #5F9EA0;
 }

 .row .header {
  text-align: center;
 }

td {
  margin: auto;
  height: 60px;
  width: 150px;
  background-color: white;
}

table td {
  border-radius: 10px;
  border: 2px solid black;
}

#playingField {
  margin: auto;
  margin-top: 20px;
  padding: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}